@charset "utf-8";

/*
amazon********************/

.hreview{
	margin:2em 0 ;
	text-align:left;
	height:290px;
	
}

.hreview .photo{
	float:left; 
	margin: 0 3em 0 0;
	padding: 0;
	
	
}
.hreview  a img{
	
	border:none;
}
.hreview a:hover img{
	
	border:none;
}

.hreview dl{
	margin:0;
	text-align:left; 
	padding:1em;
}


