@charset "utf-8";

/*
amazon********************/

.hreview{
	margin:2em 0 ;
	text-align:left;
	
	
}

.hreview .photo{
	float:left; 
	margin: 0 3em 0 0;
	padding: 0;
	
	
}
.hreview  a img{
	margin:0;
	border:none;
}
.hreview a:hover img{
	
	border:none;
}

.hreview strong{
	color:#ff4400;
}

.hreview dl{
	margin:0;
	text-align:left; 
	padding:1em;
}

.hreview .buttons{
	margin:1em 0;
	padding:0;
	border:0;
}

.hreview a.showdetailbutton{
	float:left;
	margin:0;
	padding:0;
	border:0;
}
.hreview a.showdetailbutton img{
	
	margin:0;
	padding:0;
	border:0;
}
.hreview .showaddcartbutton{
	
	margin:0;
	padding:0;
	border:0;
}

.hreview .showaddcartbutton input{
	margin:0;
	padding:0;
	border:0;
}

.hreview .showaddcartbutton p{
	margin:0;
	padding:0;
	border:0;
}

