@charset "utf-8";


#riderAmazon_result{
    padding:0.5em 0 0;
}

#riderAmazonLoadingImage{
    margin:0 0 0 ;
    display:block;
}

#riderAmazon_result div.error{
    padding:1em;
    display:none;
}

#riderAmazon_resultTable{
    display:none;
}

#riderAmazon_result table{
    margin:1em 0;
}

#riderAmazon_result thead{
}

#riderAmazon_result thead th{
}

#riderAmazon_result th.titleAndCode{
    text-align:left;
}

#riderAmazon_result tbody td, #riderAmazon_result tbody th{
    padding:1em 0.5em;
}

#riderAmazon_result tbody th.number{
    vertical-align:top;
}

#riderAmazon_result tbody td{
}

#riderAmazon_result td.image{
    margin: 0 auto ;
    text-align:center;
}
