@charset "utf-8";

/*
*
*riderAmazon CSS
*
*/
.riderAmazonItem * {
    margin:0;
    padding:0;
    border:0 none ;

}

.riderAmazonItem{

    margin:2em 0 0 ;
    padding:1em;
    text-align:left;
    background-color:transparent;
    border:1px solid #999;
    border-spacing:0;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow:  2px 2px 2px  #888;
    -webkit-box-shadow: 2px 2px 2px #888;

}

.riderAmazonItem .fn{
    margin: 0 0 1em;
    font-size:1.1em;
    font-weight: bold;
   /* text-shadow: 3px 3px 5px #888; */


}

.riderAmazonItem .image{
    float:left;
    margin: 0 1.5em 1.5em 0;
    box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
   /* text-shadow: 3px 3px 5px #888; */


}

.riderAmazonItem a img{
    width: 100%;
    max-width: 100%;
}

.riderAmazonItem a:hover img{

}

.riderAmazonItem strong{
	color:#ff4400;
}


.riderAmazonItem .buttons{
	margin:0.5em 0;

}

.riderAmazonItem a.showdetailbutton{
	float:left;

}
.riderAmazonItem a.showdetailbutton img{

}
.riderAmazonItem .showaddcartbutton{

}

.riderAmazonItem .showaddcartbutton input{

}

.riderAmazonItem .showaddcartbutton p{

}


.riderAmazonItem table{
        border-width: 1px ;
    border-style: solid;
    background-color: #eee;
    border-color: #999;
    margin: 0.5em 1em;
    border-spacing:0;
    border-collapse : separate ;
    width: 90%;
}




.riderAmazonItem table th, .riderAmazonItem table td{
    background-color:transparent;
    margin:1em 0;
    border-spacing:0;
    padding : 0.3em 0.5em;
    border-bottom:1px solid #ccc;
}
